<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catty Gym</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                <h1>Catty Gym</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#contactenos" onclick="redirectToWhatsApp()">Personalizados</a></li>
                <li><a href="#mapa" onclick="redirectToMap()">Mapa</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <video autoplay muted loop playsinline id="intro-video" style="width: 100%; height: auto;">
    <source src="https://res.cloudinary.com/dov5jkdo2/video/upload/v1749583229/intro_aexjgq.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
</video>

          

        <div class="gimnasios">
            <div class="gimnasio">
                <img src="https://i.postimg.cc/x14VFPd9/casa1.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $400000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1.2m</p>
                    <p>Ancho: 0.8m</p>
                </div>
            </div>
            <!-- Repite el bloque de arriba para cada gimnasio -->
            <div class="gimnasio">
                <img src="https://i.postimg.cc/8CfmgLhR/casa2.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $350000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1 m</p>
                    <p>Ancho: 0.5 m</p>
                </div>
            </div>
            <!-- Agrega más fichas de gimnasios según sea necesario -->
             <div class="gimnasio">
                <img src="https://i.postimg.cc/vT2vdhSv/casa3.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $100000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1.5m</p>
                    <p>Ancho: 1.0m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/dV6GM4kZ/casa4.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $180000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1 m</p>
                    <p>Ancho: 0,5 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/zX0f8M7N/casa5.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $200000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1,5 m</p>
                    <p>Ancho: 1 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/XJQPpwzr/casa6.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $150000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1.5m</p>
                    <p>Ancho: 0,8 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/T1bHQZPD/casa7.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $150000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1 m</p>
                    <p>Ancho: 0,8m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/pLLJLwtJ/casa8.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $350000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1,5 m</p>
                    <p>Ancho: 1 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/bNxqw5Rr/casa9.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $90000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1 m</p>
                    <p>Ancho: 0,5 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/htYZWD7d/casa10.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $400000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1,5m</p>
                    <p>Ancho: 1 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/CxJBz54R/casa11.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $420000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1,5 m</p>
                    <p>Ancho: 1 m</p>
                </div>
            </div>
            <div class="gimnasio">
                <img src="https://i.postimg.cc/7PMxxc96/casa12.jpg" alt="Gimnasio para gatos">
                <div class="info">
                    <p>Precio: $300000</p>
                    <button onclick="redirectToWhatsApp()">Comprar</button>
                    <p>Altura: 1,2 m</p>
                    <p>Ancho: 0,8 m</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>